/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.x-dasboard {
    height: 100%;
    background: #fff url(cp-bg.jpg) right bottom no-repeat;
}

/* tweek portlets */
.x-panel-tc {
	background-image:none;
	background-image: url("resources/images/default/window/top-bottom.png");
}

.x-panel-tr {
	background-image: url("resources/images/default/window/right-corners.png");
}

.x-panel-tl {
	background-image: url("resources/images/default/window/left-corners.png");
}

.x-panel-bl {
	background-image: url("resources/images/default/window/left-corners.png");
}

.x-panel-br{
	background-image: url("resources/images/default/window/right-corners.png");
}

/* render accordion layout recipe's links
.accordion-list{
	
}

.accordion-list li{
	display:bloxk;
	cursor:pointer;
	padding-left:13px;
}

.accordion-list li:hover{
	background:#f6f6f6;
}

.chartcanvas{
	margin:5px;
	border:1px solid #808080;
	background: url(chart-grid.png) left top no-repeat;
}

/* Render live group summaries well */
.x-grid3-summary-row .x-grid3-cell-inner {
  font-weight: bold;
  padding-bottom: 4px;  
}

.x-grid3-summary-table .x-grid3-td-open,
.x-grid3-summary-table .x-grid3-td-date,
.x-grid3-summary-table .x-grid3-td-change{
	color:#f6f6f6; 
	background:#666;
}

/* Combo with custom template */
.x-combo-list-item span{
	display:block;
	margin:0 3px;
	padding:0;	
}

.x-combo-list-item span.tpl-lft{
	float:left;
}

.x-combo-list-item span.tpl-rgt{
	float:right;
}

.x-combo-list-item .Male,
.x-combo-list-item .Female{
	width:16px;
	height:16px;	
}

.x-combo-list-item .Male{
	background: url("male.png") left top no-repeat;
}

.x-combo-list-item .Female{
	background: url("female.png") left top no-repeat;
}

/* Format ListView Recipe in chapter 8 */
div.x-customer-item-sel, div.x-department-item-sel{
	background: #DFE8F6 url(tick.png) right center no-repeat;
    border: 1px dotted #A3BAE9 !important;
    cursor: pointer;
}

div.x-customer-item,
div.x-department-item{
	border:1px solid #DDDDDD;
	float:left;
	margin:4px;
	padding:2px;
	width:220px;	
}

div.x-customer-item div.email, div.x-department-item div.code{color:green}
div.x-customer-item div.purchases{color:#808080;padding-bottom:2px;}
div.x-customer-item div.name, div.x-department-item div.name{color:#1C3C78;font-weight:bold;padding:2px;}
