.x-date-mp-ybtn a {
    background-image:url(../images/chrome/panel/tool-sprites.gif);
}
.x-panel-ml {
	background-color: #fff;
    background-image:url(../images/chrome/panel/left-right.gif);
}
.x-panel-mr {
	background-image: url(../images/chrome/panel/left-right.gif);
}
.x-tool {
    background-image:url(../images/chrome/panel/tool-sprites.gif);
}
.x-info-bl {
  background: transparent url(../images/chrome/panel/corners-sprite.gif) no-repeat 0 bottom;
}

.x-info-br {
  background: transparent url(../images/chrome/panel/corners-sprite.gif) no-repeat right bottom;
}

.x-info-bc {
  background: transparent url(../images/chrome/panel/top-bottom.gif) repeat-x 0 bottom;
}

.x-panel-tl, .x-panel-tr, .x-panel-bl,  .x-panel-br{
	/*background-image: url(../images/chrome/panel/corners-sprite.gif);*/
	border-bottom-color:#d2d3bb;
    /*border-bottom-color:#99bbe8;*/
}

.x-panel-tr {
	background-image: url("../images/chrome/window/right-corners.png");
}

.x-panel-tl {
	background-image: url("../images/chrome/window/left-corners.png");
}

.x-panel-bl {
	background-image: url("../images/chrome/window/left-corners.png");
}

.x-panel-br{
	background-image: url("../images/chrome/window/right-corners.png");
}

.x-panel-tc {
	background-image:none;
	background-image: url("../images/chrome/window/top-bottom.png");
}

.x-panel-bc {
	background-image: url(../images/chrome/panel/top-bottom.gif);
}

.x-accordion-hd {
	color:#222;
    background-image: url(../images/chrome/panel/light-hd.gif);
}

.x-info-header {  
  background: transparent url(../images/chrome/panel/white-top-bottom.gif) repeat-x 0 -1px;
}

.x-panel-header {
    /*color:#15428b;
    border-color:#99bbe8;*/
    color:#3a3a36;
    border-color:#d2d3bb;
    background-image: url(../images/chrome/panel/white-top-bottom.gif);
}